.tagSection {
    background-color: #eaeaefeb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 7px;
    font-family: var(--font-open-sans);
    width: fit-content;
    margin: 0 auto;
}