  .header {
    border-color: #E0E0E0;
    position: relative;
    padding: 1.5rem 2rem;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid rgba(242, 242, 243, 0.1);
    font-family: var(--font-open-sans);
  }

  .navList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
  
.logoLink {
  display: flex;
  align-items: center;
  margin-right: auto;

  &:hover {
    img {
      filter: brightness(1.1) drop-shadow(0 0 8px rgba(108, 99, 255, 0.4));
      border: 2px solid #6c63ff;
    }
  }

  img {
    height: 70px;
    width: auto;
    transition: all 0.3s ease;
    border-radius: 50%;
    border: 2px solid;
    
  }
}
  
  .navLink {
    color: #f2f2f3;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 300;
    position: relative;
    transition: all 0.3s ease;
  
  
    &:hover {
      color: #8c43ba;
  
      &::after {
        width: 100%;
      }
    }
  
    &.active {
      color: #8c43ba;
      font-weight: 300;
  
      &::after {
        width: 100%;
        background: #8c43ba;
      }
    }
  }

  .socialIcons {
    display: flex;
    gap: 1.5rem;
    margin-left: auto; // Выравниваем иконки вправо
    padding-left: 2rem; // Отступ от остальных пунктов меню
  
    a {
      color: #f2f2f3;
      transition: all 0.3s ease;
      
      &:hover {
        color: #8c43ba;
        transform: translateY(-2px);
      }
    }
  
    .icon {
      width: 25px;
      height: 25px;
    }
  }